@font-face {
    font-family: 'Norse-bold';
    src: url(./font/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --viewwidth: 100vw;
    --viewheight: 100vh;
    --signup-leftpadding:2em;
    --text-color: #1F2937;
    --background-color: #0E0E0E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* outline: red dashed 10px; */
    /* margin: 10px; */
    max-height: var(--viewheight);
    max-width: var(--viewwidth);

    height: 100%;
    width: 100%;

    padding: 0px 20px;

    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

body {
    /* outline: green dashed 5px; */
    max-height: var(--viewheight);
    max-width: var(--viewwidth);

    height: 100%;
    width: 70%;
    /* padding: 5px; */

    display: flex;
    
}
/* Image Logo */
.image-container{
    /* outline: pink dashed 5px; */
    width: 100%;
    height: 100%;

    flex:1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
    background-image: url(./images/syuhei-inoue-kaoHI0iHJPM-unsplash.jpg);
    background-size: 40vw;
    /* filter:brightness(1.2) contrast(0.6); */
}

.logo-container-background{
    position: absolute;
    /* outline: gold 5px dashed; */
    width: 27.2vw;
    height: 15vh;
    top: 20vh;
    background-color: black;
    filter: opacity(0.6);
}

.logo-container {
    position: absolute;
    /* outline: gold 5px dashed; */
    width: 26.9vw;
    height: 15vh;
    top: 20vh;

    color: white;
    font-size: 4vw;
    font-family: Norse-bold;

    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-container p {
    opacity: 1;
}
.logo-container img {
    height: 80%;
    opacity: 1;
}

.image-container footer{
    color: white;
    font-size: large;
    /* outline: blue 10px dashed; */
    font-size: 0.6em;
    /* background-color: black; */
    padding: 3px;
}

footer a {
    color: white;
}



/* Forms */
.form-container {
    /* outline: lightcoral dashed 5px; */
    width: 100%;
    height: 100%;
    
    flex: 1.5;

    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;

    font-family: Arial;

}

.form-container fieldset{
    border-color: transparent;
    padding-top: 2vh;
    /* box-shadow: ; */
}

#form-header {
    padding-left: var(--signup-leftpadding);
    padding-right: 7vw;
    padding-top: 15vh;
    padding-bottom: 4vh;

    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 1em;
    font-weight: bolder;
    color: var(--text-color);
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    height: 17vw;
    gap: 3vh;
    padding-left: var(--signup-leftpadding) ;
    padding-top: 10px;
    /* outline: 1px solid black; */
    background-color: white;

    box-shadow: 0px 5px 8px -1px rgba(120, 120, 120, 0.75);
}

.signup-form-container p {
    font-weight: bold;
    color: var(--text-color);
}

.row1,
.row2,
.row3 {
    display: flex;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgb(50, 50, 50);

    gap: 3.5vw;

}

.col1,
.col2,
.col3 {
    display: flex;
    flex-direction: column;
    outline: 1px red dashed;
    max-width: 12vw;
}


.form-container footer {
    /* outline: 1px dashed black; */
    padding-left: var(--signup-leftpadding);
    padding-top: 3vh;

    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.form-container footer p{
    font-size: 0.9em;
    font-weight: bold;
    color: var(--text-color);
}

.form-container footer a{
    color: #1B482E;
}

#create-account-btn {
    background-color: #1B482E;
    color:white;
    padding: .7em 2em;
    border-radius: 0.4em;
    width: 12vw;

}

/* Pseudo Classes Inputs */

.col1 input:focus,
.col2 input:focus,
.col3 input:focus{
    outline: 2px solid rgb(163, 163, 255);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(40, 37, 110, 0.75);
}



/* Password Matching Styling */
.match{
    background-color: rgb(225, 255, 225);
    color: green;
}

.error {
    background-color: rgb(255, 223, 223);
    color: rgb(189, 0, 0);
}

.metlength {
    color: green;
}
